.about {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 64px 0;
  }
}

.about__wrapper {
  display: grid;
  grid-template-columns: 415px 1fr;
  gap: 7.1%;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }
}

.about__content {
  padding: 39px 0 0 60px;

  @include vp-1199 {
    margin: 0 0 35px;
    padding: 0 50px;
    text-align: center;
  }

  @include vp-767 {
    padding: 0;
    margin: 0 0 25px;
    text-align: left;
  }

  h2 {
    margin: 0 0 7px 0;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    letter-spacing: 0.03em;

    @include vp-1199 {
      padding-right: 16px;
      font-weight: 600;
      font-size: 42px;
      line-height: 50px;
      margin: 0;
    }

    @include vp-767 {
      margin: 0 0 5px 0;
      font-size: 32px;
      line-height: 38px;
    }
  }

  h3 {
    margin: 0 0 39px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      margin: 0 0 34px 0;
    }

    @include vp-767 {
      margin: 0 0 24px 0;
    }
  }

  p {
    margin: 0 0 8px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    @include vp-767 {
      padding-right: 27px;
    }

    &:nth-of-type(n + 2) {
      @include vp-1199 {
        display: none;
      }
    }
  }
}

.about__gym-image {
  @include vp-767 {
    width: 100%;
  }
}

.about__video {
  img {
    margin: 0 auto;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }
  }

  @include vp-767 {
    margin: 0 -15px;
  }
}
