.coaches {
  padding: 53px 0 120px 0;

  @include vp-1199 {
    padding: 85px 0 120px;
  }

  @include vp-767 {
    padding: 32px 0 63px 0;
  }
}

.coaches__wrapper {
  h2 {
    margin: 0 0 49px 0;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      text-align: center;
      font-size: 42px;
      line-height: 50px;
      padding-right: 6px;
      margin: 0 0 31px 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 43px;
    }
  }
}

.coaches__swiper {
  position: relative;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 77.93%;
  }
}

.coaches__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coaches__item {
  position: relative;
  min-height: 294px;
  width: 260px;
  overflow: auto;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    min-height: 274px;
  }

  img {
    height: 294px;

    @include vp-1199 {
      width: 100%;
      height: auto;
      aspect-ratio: 268/294;
    }

    @include vp-767 {
      width: 100%;
      height: 100%;
      aspect-ratio: 226/274;
    }
  }

  &:hover,
  &:focus-within {
    .coashes__advantages {
      display: flex;
    }

    .coaches__item-content {
      padding-top: 52px;
      background: rgba(16, 38, 84, 0.89);

      @include vp-767 {
        padding-top: 42px;
      }

      h3 {
        margin: 0;

        @include vp-1199 {
          margin: 1px 0 0 -9px;
        }
      }

      h4 {
        display: block;

        @include vp-1199 {
          margin: 0 0 0 -8px;
        }
      }
    }
  }
}

.coaches__item-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 294px;
  width: 100%;
  padding: 23px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @include vp-767 {
    height: 100%;
  }

  h3 {
    margin: auto 0 0 0;
    color: $color-default-white;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    @include vp-1199 {
      margin: auto -8px 0 0;
    }
  }

  h4 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-spindle;
    display: none;
    text-align: center;
  }
}

.coashes__advantages {
  margin: 32px 0 0 0;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  gap: 13px;
  color: $color-default-white;
  display: none;
  font-size: 14px;
  line-height: 150%;
}

.coashes__advantages-item {
  position: relative;
  padding-left: 48px;

  @include vp-767 {
    padding-left: 27px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 32px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;

    @include vp-767 {
      left: 11px;
    }
  }
}

.coaches__swiper-toggle {
  width: 50px;
  height: 43px;
  color: $color-dark-gray;

  @include hover-focus {
    color: $color-egyptian-blue;
  }

  &::after {
    font-size: 35px;

    @include vp-767 {
      font-size: 20px;
    }
  }

  &--prev {
    left: -72px;

    @include vp-767 {
      left: -50px;
    }
  }

  &--next {
    right: -72px;

    @include vp-767 {
      right: -50px;
    }
  }
}
