.contacts {
  h2 {
    margin: 0 0 27px 0;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 0 0 32px 0;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin: 0 0 34px 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.contact__list {
  margin: 0;
  padding: 0 0 0 5px;
  list-style-type: none;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 18px 120px;
  position: relative;

  @include vp-1199 {
    padding: 0;
    gap: 22px 48px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    bottom: 6px;
    left: 51%;
    width: 1px;
    background-color: #74819c;
    transform: translateX(-51%);

    @include vp-1199 {
      left: 266px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.contact__item {
  @include vp-767 {
    &:nth-child(2n) {
      order: 1;
    }
  }

  h3 {
    margin: 0 0 3px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    @include vp-1199 {
      margin: 0 0 5px 0;
      font-size: 20px;
    }
  }

  address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
      width: 266px;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }
  }
}
