.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      border: none;
      padding: 4px 0;
      border-bottom: 1px solid #74819c;
      background-color: transparent;
      outline: none;
      color: $color-default-white;
      caret-color: $color-default-white;

      &::placeholder {
        color: $color-default-white;
      }

      @include hover-focus {
        &::placeholder {
          opacity: 0.5;
        }
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
