.event {
  padding: 52px 0;

  @include vp-1199 {
    padding: 15px 0;
  }

  @include vp-767 {
    padding: 71px 0 30px 0;
  }
}

.event__wrapper {
  display: grid;
  grid-template-columns: 500px 1fr;

  img {
    @include vp-767 {
      width: 100%;
    }
  }

  @include vp-1199 {
    grid-template-columns: 292px 386px;
    align-items: center;
    justify-content: center;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.event__content {
  color: $color-default-white;
  padding: 81px 79px 87px 78px;
  background-color: $color-torch-red-darker;
  display: grid;
  grid-template-areas:
    "title datetime"
    "para para"
    "btn btn";
  gap: 0 28px;

  @include vp-1199 {
    gap: 0 36px;
    min-height: 292px;
    padding: 45px 42px 50px 44px;
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    font-family: $ff-alumni;
    grid-area: title;
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 4px 0 0 -21px;

    @include vp-1199 {
      font-size: 48px;
      line-height: 46px;
      margin: 4px 0 0 5px;
    }
  }

  p {
    grid-area: para;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    transform: translateY(-22px);

    @include vp-1199 {
      font-size: 12px;
      transform: translateY(-16px);
    }
  }
}

.event__datetime {
  grid-area: datetime;
  margin: 0;
}

.event__date {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
  }
}

.event__time {
  margin: 0 0 8px 0;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;

    @include vp-1199 {
      top: 1px;
    }
  }

  @include vp-1199 {
    font-size: 24px;
    margin: 0;
  }

  small {
    margin: 0 0 0 7px;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 10px;
      margin: 0 0 0 4px;
    }
  }

  time {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 24px;
    }
  }
}

.event__order {
  grid-area: btn;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: flex;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  padding: 12px 110px;
  text-align: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  position: relative;
  transition: 1s;

  @include vp-1199 {
    padding: 5px 51px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $color-default-white;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 0 50% 50%;
    width: 100%;
    height: 0%;
    background: $color-default-white;
    z-index: -1;
    transition: 1s;
  }

  @include hover-focus {
    color: $color-default-black;

    &::before {
      height: 200%;
    }
  }
}
