.feedback {
  padding: 57px 0;

  @include vp-1199 {
    padding: 32px 0;
  }

  @include vp-767 {
    padding: 29px 0;
  }
}

.feedback__wrapper {
  h2 {
    margin: 0 0 37px 0;
    font-family: $ff-alumni;
    font-weight: 600;
    text-align: center;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 0 0 40px 0;
      font-size: 42px;
      line-height: 50px;
      padding-right: 7px;
    }

    @include vp-767 {
      margin: 0 0 42px 0;
      font-size: 32px;
      line-height: 38px;
      padding-right: 3px;
    }
  }
}

.feedback__slider {
  position: relative;
  width: 560px;
  margin: 0 auto;

  @include vp-767 {
    width: 77.934%;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feedback__item {
  padding: 54px 55px 57px 62px;
  color: $color-default-white;
  background-color: $color-resolution-blue;
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 0 28px;
  position: relative;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    padding: 32px 25px 34px 25px;
    grid-template-columns: 68px 1fr;
    gap: 15px 20px;
  }

  h3 {
    margin: 0 0 13px 0;
    font-size: 20px;
    line-height: 30px;

    @include vp-767 {
      transform: translate(11px, 16px);
      margin: 0 0 25px;
      line-height: 26px;
      max-width: 105px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    grid-column: 2 /-1;

    @include vp-767 {
      text-align: center;
      grid-column: 1/-1;
    }
  }
}

.feedback__slider-button {
  width: 50px;
  height: 43px;
  color: $color-dark-gray;

  &--prev {
    left: -53px;
  }

  &--next {
    right: -53px;
  }

  &::after {
    font-size: 21px;
  }
}

.feedback__avatar {
  transform: translateY(8px);
  grid-row: 1 / -3;

  @include vp-767 {
    margin-left: 16px;
    grid-row: 1 / -1;
    width: 68px;
    height: 68px;
  }
}
