.form {
  h2 {
    margin: 0 0 20px 0;
    font-family: $ff-alumni;
    font-weight: 800;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 0 0 34px;
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin: 0 0 36px 0;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;

  @include vp-1199 {
    gap: 0 58px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

.form__submit {
  margin: 28px 0 0 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 17px;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  cursor: pointer;
  background-color: transparent;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  grid-column: 1 / -1;
  z-index: 1;
  overflow: hidden;
  position: relative;
  transition: 1s;

  @include vp-767 {
    margin: 3px 0 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 0 50% 50%;
    width: 100%;
    height: 0%;
    background: $color-default-white;
    z-index: -1;
    transition: 1s;
  }

  @include hover-focus {
    color: $color-default-black;
    &::before {
      height: 200%;
    }
  }
}
