.promo__wrapper {
  display: grid;
  grid-template-columns: 397px 1fr;
  position: relative;
  gap: 0 62px;
  padding-bottom: 11px;

  @include vp-1199 {
    grid-template-columns: 324px 1fr;
    gap: 0 30px;
    padding-bottom: 73px;
  }

  @include vp-767 {
    padding-bottom: 79px;
    grid-template-columns: 1fr;
  }

  img {
    transform: translateY(-40px);

    @include vp-1199 {
      transform: translateY(-9px);
    }

    @include vp-767 {
      display: none;
    }
  }
}

.promo__info {
  display: grid;
  grid-template-columns: 133px 1fr;
  grid-template-rows: 56px 224px 90px;
  padding-top: 73px;
  justify-items: end;
  gap: 15px 16px;
  position: relative;

  @include vp-1199 {
    grid-template-columns: 113px 1fr;
    grid-template-rows: 39px 157px 100px;
    padding-top: 41px;
    gap: 10px 16px;
  }

  @include vp-767 {
    gap: 12px 0;
    padding-top: 61px;
    justify-items: normal;
    grid-template-columns: 103px 1fr;
    grid-template-rows: 27px 158px 86px;
  }

  p {
    margin: 0;
    padding-right: 51px;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $color-default-white;
    grid-column: 2 /3;
    align-self: end;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      padding-right: 4px;
    }

    @include vp-767 {
      margin-left: auto;
      font-size: 28px;
      line-height: 34px;
    }
  }

  h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $ff-alumni;
    font-size: 92px;
    line-height: 110px;
    text-align: right;
    letter-spacing: 0.05em;
    color: $color-default-white;
    grid-column: 2 /3;
    -webkit-text-stroke: 4px;

    @include vp-1199 {
      text-transform: none;
      font-size: 72px;
      line-height: 86px;
      text-align: right;
      letter-spacing: 0.05em;
    }
  }
}

.promo__list {
  margin: 0;
  display: flex;
  padding: 0;
  padding-top: 122px;
  list-style-type: none;
  grid-row: 2 /3;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1199 {
    padding-top: 88px;
  }

  @include vp-767 {
    padding-top: 77px;
    transform: translateX(9px);
  }
}

.promo__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: right;
  color: $color-default-white;
}

.promo__order {
  display: block;
  color: $color-default-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  padding: 20px 56px;
  grid-column: -2 / -1;
  margin-top: 29px;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 1s;

  @include vp-1199 {
    padding: 20px 31px;
    margin-top: 40px;
  }

  @include vp-767 {
    margin-top: 25px;
    padding: 20px 82px;
    grid-column: 1 / -1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 0 50% 50%;
    width: 100%;
    height: 0%;
    background: $color-default-white;
    z-index: -1;
    transition: 1s;
  }

  @include hover-focus {
    color: $color-default-black;

    &::before {
      height: 200%;
    }
  }
}
