.tabs__controls {
  margin: 0 auto 40px auto;
  display: flex;
  flex-wrap: wrap;
  width: 341px;

  gap: 46px;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    gap: 55px;
  }

  @include vp-767 {
    gap: 46px;
    width: 290px;
  }
}

.tabs__control {
  padding: 0 0 12px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 0;
  }

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  @include hover-focus {
    &::after {
      animation: animation-line;
      animation-duration: 1s;
      opacity: 0.8;
      color: #102654;
      background-color: $color-crimson;
    }
  }
}

@keyframes animation-line {
  from {
    left: 0;
    width: 0;
  }

  to {
    width: 100%;
  }
}

.tabs__control.is-active {
  pointer-events: none;
  color: #102654;

  &::after {
    @include vp-767 {
      width: 111%;
    }
    animation: animation-line;
    animation-duration: 1s;
    background-color: $color-crimson;
  }
}
