.tickets {
  padding: 120px 0 188px 0;
  position: relative;
  overflow: hidden;

  @include vp-1199 {
    padding: 100px 0 185px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  img {
    position: absolute;
    bottom: -83px;
    right: -182px;
    z-index: -1;

    @include vp-1199 {
      width: 425px;
      height: 445px;
      bottom: -41px;
      right: -77px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.tickets__wrapper {
  h2 {
    text-align: center;
    margin: 0 0 16px 0;
    font-family: $ff-alumni;
    font-weight: 600;
    padding-right: 6px;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin: 0 0 21px 0;
      padding-right: 14px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin: 0 0 21px;
      padding-right: 11px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.tickets__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 37px;
  }

  @include vp-767 {
    justify-items: normal;
    gap: 30px;
  }
}

.tickets__item {
  &:hover,
  &:focus-within,
  &:focus {
    .tickets__item-content {
      border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
      border-image-slice: 1;
    }

    .tickets__item-order {
      &::before {
        height: 200%;
      }

      border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border-image-slice: 1;
      color: $color-default-white;
    }
  }
}
